/* Element Selectors */

body {
    background-color:lavender;
}

h5 {
    text-align: center;
}
/* Class Selectors */

.card-text, .card {
    text-align: center; 
}

.icon-img {
    justify-content: center;
}

.current-row-center {
    justify-content: center;

}

.card, .card-body {
    background-color: lightpink;
}

  